.custom-navbar-border{
    /* background-color: #101010; */
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #B47CFD, #FF7FC2);
    border-image-slice: 1;
    width:100%;
}
.custom-navbar{
    background-color: #101010;
  padding: 15px;
}
#navlink {
    color: white;
    padding: 10px;
}
#navlink:hover{
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #B47CFD, #FF7FC2);
    border-image-slice: 1;
    background: linear-gradient(to right,  #B47CFD, #FF7FC2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}

.navbar-nav .nav-item.active #navlink {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #B47CFD, #FF7FC2);
    border-image-slice: 1;
    background: linear-gradient(to right,  #B47CFD, #FF7FC2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
  }

  .navbar-toggler-icon{
    display: inline-block;
    fill: white;
  }
ul li:last-child{
  margin-left: 10px;
  border-radius: 25px !important;
  padding: 3px 15px !important;
  color: white !important;
  background: linear-gradient(to right, #b47cfd, #ff7fc2) !important;
  border: none !important;
}
ul li:last-child:hover{
  /* border: none !important; */
  color: white !important;
}